In [1]:
# Dependencies
import pandas as pd

In [4]:
# load CSV
csv_file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [5]:
# Read with pandas--low_memory required to suppress errors about mixed data types
df = pd.read_csv(csv_file)
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [12]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
cols = [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
df2 = df.iloc[:,cols]
df2.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [13]:
df2.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampName', 'BootcampPostSalary',
       'BootcampRecommend', 'ChildrenNumber', 'CityPopulation',
       'CodeEventBootcamp', 'CountryLive', 'EmploymentField',
       'EmploymentStatus', 'Gender', 'HasChildren', 'HoursLearning', 'Income',
       'JobRoleInterest', 'SchoolDegree', 'SchoolMajor'],
      dtype='object')

In [20]:
# Change reading 0 and 1 to No and Yes, respectively
df2['AttendedBootcamp'] = df2['AttendedBootcamp'].apply(lambda x:0 if x!= 1 else 1)

f:\software_installations\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
# Extract rows for only those who attended a bootcamp
df_bootcamp = df2[df2['AttendedBootcamp'] == 1]

In [56]:
# Create DataFrame of the different boot camps that had a significant number of attendees
significant_df = pd.DataFrame()
for i in df_bootcamp.groupby(['BootcampName']):
    camp_df = i[1]
#     display(camp_df.head())
    count = camp_df.shape[0]
#     print(counts)
    if count > 20:
#         print(count)
        significant_df = significant_df.append(camp_df)

In [57]:
significant_df = significant_df.reset_index().drop('index',axis=1)

In [58]:
significant_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,29.0,1,1.0,1.0,0.0,App Academy,82000.0,1.0,NaN,more than 1 million,...,United States of America,software development and IT,Employed for wages,female,NaN,10.0,NaN,NaN,master's degree (non-professional),Psychology
1,23.0,1,1.0,1.0,0.0,App Academy,110000.0,1.0,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,1.0,116000.0,NaN,bachelor's degree,Economics
2,24.0,1,1.0,0.0,0.0,App Academy,NaN,1.0,NaN,"less than 100,000",...,United States of America,NaN,Not working but looking for work,male,NaN,2.0,NaN,Full-Stack Web Developer,bachelor's degree,Biotechnology
3,28.0,1,1.0,1.0,0.0,App Academy,150000.0,1.0,NaN,more than 1 million,...,United States of America,software development and IT,Employed for wages,male,NaN,15.0,35000.0,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",African Studies
4,26.0,1,1.0,1.0,0.0,App Academy,110000.0,1.0,NaN,more than 1 million,...,United States of America,software development and IT,Employed for wages,female,NaN,10.0,60000.0,NaN,bachelor's degree,Computer Science

In [63]:
# Count how many attendees of each bootcamp would recommend the bootcamp
for i in df_bootcamp[df_bootcamp['BootcampRecommend'] == 1].groupby(['BootcampName']):
    print("Bootcamp Name {}  Recommended Count {}".format(i[0],i[1].shape[0]))

Bootcamp Name 10x.org.il  Recommended Count 3
Bootcamp Name 4Geeks Academy  Recommended Count 4
Bootcamp Name AcadGild  Recommended Count 2
Bootcamp Name Academia de CÃ³digo  Recommended Count 4
Bootcamp Name Ada  Recommended Count 8
Bootcamp Name AngelHack Education  Recommended Count 1
Bootcamp Name Anyone Can Learn To Code  Recommended Count 5
Bootcamp Name App Academy  Recommended Count 20
Bootcamp Name Austin Coding Academy  Recommended Count 1
Bootcamp Name Base10 Academy  Recommended Count 1
Bootcamp Name Betamore  Recommended Count 1
Bootcamp Name Big Nerd Ranch  Recommended Count 2
Bootcamp Name Bit Bootcamp  Recommended Count 2
Bootcamp Name Bitmaker Labs  Recommended Count 3
Bootcamp Name Bloc.io  Recommended Count 11
Bootcamp Name BoiseCodeWorks  Recommended Count 2
Bootcamp Name BrainStation  Recommended Count 2
Bootcamp Name Byte Academy  Recommended Count 1
Bootcamp Name CODEcamp Charleston  Recommended Count 2
Bootcamp Name Camp Code Away  Recommended Count 2
Bootcamp Name CareerFoundry  Recommended Count 4
Bootcamp Name Claim Academy  Recommended Count 1
Bootcamp Name Code 42  Recommended Count 1
Bootcamp Name Code Fellows  Recommended Count 15
Bootcamp Name Code Institute  Recommended Count 1
Bootcamp Name Code Platoon  Recommended Count 2
Bootcamp Name Code Union  Recommended Count 1
Bootcamp Name CodeCore Bootcamp  Recommended Count 3
Bootcamp Name CodeCraft School  Recommended Count 1
Bootcamp Name CodeMasters Academy  Recommended Count 1
Bootcamp Name CodeNinja  Recommended Count 5
Bootcamp Name CodeaCamp  Recommended Count 8
Bootcamp Name Codecademy Labs  Recommended Count 2
Bootcamp Name Coder Camps  Recommended Count 6
Bootcamp Name Coder Factory  Recommended Count 2
Bootcamp Name Coder Foundry  Recommended Count 1
Bootcamp Name Coder's Lab  Recommended Count 1
Bootcamp Name Codesmith  Recommended Count 2
Bootcamp Name Codeup  Recommended Count 6
Bootcamp Name Codify Academy  Recommended Count 1
Bootcamp Name Coding Dojo  Recommended Count 11
Bootcamp Name Coding House  Recommended Count 1
Bootcamp Name DESIGNATION  Recommended Count 1
Bootcamp Name Dev Academy  Recommended Count 13
Bootcamp Name Dev Bootcamp  Recommended Count 41
Bootcamp Name Dev League  Recommended Count 3
Bootcamp Name DevMountain  Recommended Count 8
Bootcamp Name Devschool  Recommended Count 2
Bootcamp Name Digital House  Recommended Count 1
Bootcamp Name DigitalCrafts  Recommended Count 2
Bootcamp Name EHD Academy  Recommended Count 2
Bootcamp Name Eleven Fifty Academy  Recommended Count 2
Bootcamp Name Epicodus  Recommended Count 11
Bootcamp Name Fire Bootcamp  Recommended Count 1
Bootcamp Name Flatiron School  Recommended Count 50
Bootcamp Name Founders & Coders  Recommended Count 1
Bootcamp Name Free Code Camp is not a bootcamp - please scroll up and change answer to "no"  Recommended Count 14
Bootcamp Name Fullstack Academy  Recommended Count 6
Bootcamp Name Galvanize  Recommended Count 11
Bootcamp Name General Assembly  Recommended Count 70
Bootcamp Name Grace Hopper Academy  Recommended Count 3
Bootcamp Name Grand Circus  Recommended Count 3
Bootcamp Name Hack Reactor  Recommended Count 27
Bootcamp Name Hackbright Academy  Recommended Count 19
Bootcamp Name HackerYou  Recommended Count 1
Bootcamp Name IronHack  Recommended Count 5
Bootcamp Name LAMP Camp  Recommended Count 3
Bootcamp Name LEARN Academy  Recommended Count 3
Bootcamp Name Ladies Learning Code  Recommended Count 1
Bootcamp Name Launch Academy  Recommended Count 8
Bootcamp Name Launch School (formerly Tealeaf Academy)  Recommended Count 1
Bootcamp Name Le Wagon  Recommended Count 1
Bootcamp Name Learn.Modern-Developer  Recommended Count 2
Bootcamp Name LearningFuze  Recommended Count 1
Bootcamp Name Lighthouse Labs  Recommended Count 3
Bootcamp Name MakerSquare  Recommended Count 18
Bootcamp Name Makers Academy  Recommended Count 12
Bootcamp Name Metis  Recommended Count 1
Bootcamp Name Microsoft Research Data Science Summer School  Recommended Count 1
Bootcamp Name Mobile Makers Academy  Recommended Count 1
Bootcamp Name Nashville Software School  Recommended Count 4
Bootcamp Name New York Code + Design Academy  Recommended Count 14
Bootcamp Name Omaha Code School  Recommended Count 2
Bootcamp Name Operation Spark  Recommended Count 1
Bootcamp Name Orange County Code School  Recommended Count 2
Bootcamp Name Origin Code Academy  Recommended Count 1
Bootcamp Name PDX Code Guild  Recommended Count 1
Bootcamp Name Prime Digital Academy  Recommended Count 25
Bootcamp Name RefactorU  Recommended Count 2
Bootcamp Name Ruby On The Beach  Recommended Count 1
Bootcamp Name Rutgers Coding Bootcamp  Recommended Count 3
Bootcamp Name Sabio.la  Recommended Count 3
Bootcamp Name Science to Data Science  Recommended Count 1
Bootcamp Name SeedPaths  Recommended Count 1
Bootcamp Name Skillcrush  Recommended Count 3
Bootcamp Name Software Guild  Recommended Count 8
Bootcamp Name Stackademy  Recommended Count 1
Bootcamp Name Starter League  Recommended Count 1
Bootcamp Name Startup Institute  Recommended Count 4
Bootcamp Name Tech Academy Portland  Recommended Count 2
Bootcamp Name Tech Talent South  Recommended Count 8
Bootcamp Name Telegraph Academy  Recommended Count 2
Bootcamp Name The Data Incubator  Recommended Count 1
Bootcamp Name The Firehose Project  Recommended Count 13
Bootcamp Name The Iron Yard  Recommended Count 31
Bootcamp Name Thinkful  Recommended Count 5
Bootcamp Name Turing  Recommended Count 26
Bootcamp Name V School  Recommended Count 1
Bootcamp Name Viking Code School  Recommended Count 10
Bootcamp Name We Can Code IT  Recommended Count 1
Bootcamp Name We Got Coders  Recommended Count 2
Bootcamp Name Wyncode  Recommended Count 3
Bootcamp Name Zip Code Wilmington  Recommended Count 1
Bootcamp Name codeU  Recommended Count 1
Bootcamp Name devCodeCamp  Recommended Count 4
Bootcamp Name tradecraft  Recommended Count 1

In [64]:
# Merge the two created data frames on the name of tbe bootcamp
pd.merge(df_bootcamp,significant_df,on='BootcampName')

,Age_x,AttendedBootcamp_x,BootcampFinish_x,BootcampFullJobAfter_x,BootcampLoanYesNo_x,BootcampName,BootcampPostSalary_x,BootcampRecommend_x,ChildrenNumber_x,CityPopulation_x,...,CountryLive_y,EmploymentField_y,EmploymentStatus_y,Gender_y,HasChildren_y,HoursLearning_y,Income_y,JobRoleInterest_y,SchoolDegree_y,SchoolMajor_y
0,26.0,1,1.0,0.0,0.0,General Assembly,NaN,0.0,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
1,26.0,1,1.0,0.0,0.0,General Assembly,NaN,0.0,NaN,"between 100,000 and 1 million",...,United States of America,software development,Self-employed freelancer,male,NaN,30.0,45000.0,NaN,"some college credit, no degree",NaN
2,26.0,1,1.0,0.0,0.0,General Assembly,NaN,0.0,NaN,"between 100,000 and 1 million",...,United States of America,software development,Self-employed freelancer,genderqueer,NaN,20.0,35000.0,User Experience Designer,bachelor's degree,Communications
3,26.0,1,1.0,0.0,0.0,General Assembly,NaN,0.0,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,male,NaN,40.0,NaN,Full-Stack Web Developer,bachelor's degree,Liberal Arts
4,26.0,1,1.0,0.0,0.0,General Assembly,NaN,0.0,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working but looking for work,female,NaN,20.0,NaN,NaN,bachelor's degree,Architecture
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,23.0,1,1.0,1.0,0.0,App Academy,79000.0,1.0,NaN,"between 100,000 and 1 million",...,Russia,NaN,Self-employed freelancer,male,NaN,10.0,NaN,Front-End Web Developer,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering
19236,23.0,1,1.0,1.0,0.0,App Academy,79000.0,1.0,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,3.0,26666.0,NaN,bachelor's degree,Mathematics
19237,23.0,1,1.0,1.0,0.0,App Academy,79000.0,1.0,NaN,"between 100,000 and 1 million",...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,Front-End Web Developer,NaN,NaN
19238,23.0,1,1.0,1.0,0.0,App Academy,79000.0,1.0,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,40.0,NaN,NaN,bachelor's degree,Film and Video Studies
19239,23.0,1,1.0,1.0,0.0,App Academy,79000.0,1.0,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,0.0,12000.0,NaN,bachelor's degree,History

In [71]:
# Calculate percentage of each bootcamp's students who are recommenders

data = []
for i in df_bootcamp.groupby(["BootcampName"]):
    camp_df = i[1]
    total = camp_df.shape[0]
    rec = camp_df[camp_df["BootcampRecommend"] == 1].shape[0]
    pct = (rec/total)*100
    data.append([i[0],total,rec,pct])

In [73]:
out_df = pd.DataFrame(data,columns=["BootcampName","Count","Recommenders","% Recommenders"])

In [74]:
out_df.to_excel("output.xlsx")

              BootcampName  Count  Recommenders  % Recommenders
0               10x.org.il      5             3       60.000000
1           4Geeks Academy      8             4       50.000000
2                 AcadGild      2             2      100.000000
3       Academia de CÃ³digo      4             4      100.000000
4    Academic Work Academy      1             0        0.000000
..                     ...    ...           ...             ...
123                Wyncode      6             3       50.000000
124    Zip Code Wilmington      3             1       33.333333
125                  codeU      1             1      100.000000
126            devCodeCamp      4             4      100.000000
127             tradecraft      3             1       33.333333

[128 rows x 4 columns]

In [ ]:
# Export to excel and remove index